EXERCISE 4: Lists

- Create a list called universities with at least five different university names.
- Print the entire list.
- Print the first and last university in the list.

In [9]:
universities = ["Complutense de Madrid", 
                "Harvard University", 
                "Universidad Ramon Llul", 
                "Berkeley", 
                "Universidad de Navarra"]

In [33]:
print (universities)

['Complutense de Madrid', 'Harvard University', 'Universidad Ramon Llul', 'Berkeley', 'Universidad de Navarra']

In [23]:
print (universities[0])
print (universities [4])

Complutense de Madrid
Universidad de Navarra

EXERCISE 5: Dictionaries 


- Create a dictionary called student with keys: name, age, and grade, and assign appropiate values to each ke
- Write a program that prints each key-value pair in the dictionary

In [49]:
student = {
    "Name": "Sofia",
    "Age": 23,
    "Grade": "Senior"
}

In [51]:
print ("Student information: ")
for key, value in student.items():
    print(f'{key}:{value}')

Student information:
Name:Sofia
Age:23
Grade:Senior